.env
.DS_Store
.vscode/*
*.todo

# Local History for Visual Studio Code
.history/

.ipynb_checkpoints/

scratch/*
data/untracked/*
report_build/

# gitkeep files
!.gitkeep

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

__pycache__
__pycache__/*

.mypy_cache
.mypy_cache/*
